<div class="row">
  <div class="col-md-3">
    <!-- ここにジャンルの部分テンプレート -->
      <%= render 'public/products/genre' %>
  </div>
  <div class="col-md-3">
    <%= image_tag @product.image, size: "100x100" %>
  </div>
  <div class="col-md-6">
    <table>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @product.explanation %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td><%= @product.price %></td>
        </tr>
      </tbody>
    </table>
    <p>
<%= form_with model: @cart_product, url: cart_items_path do |f| %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, min: 1, value: 1 %>
   <%= f.submit 'カートに入れる', class: 'btn btn-primary', formaction: cart_items_path %>
<% end %>
    </p>
  </div>
</div>