<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/products/genre' %>
    </div>

    <div class="col-md-9">
      <div class="main-visual">
        <%= image_tag "top_image.jpg", size: '600x300' %>

        <p class="main-text">
          ようこそ、ながのCAKEへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>

      <h2><strong>新着商品</strong></h2>

      <div class="new-products">
        <% @products.each do |product| %>
        <div class="new-products-box">
          <%= image_tag product.image, class: "item-image" %>
          <div><%= product.name %></div>
          <div>￥<%= (product.price. * 1.1).floor.to_s(:delimited) %></div>
        </div>
        <% end %>
      </div>

      <div class="products-link"><%= link_to "全ての商品を見る>", items_path %></div>
    </div>
  </div>
</div>

