<div class="row justify-content-center">
  <div class="row">

      <h1 class="text-center">商品一覧</h1>
      <%= link_to admin_items_new_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to "/admin/items/#{product.id}" do %>
              <%= product.name %>
            <% end %></td>
            <td><%= product.price %></td>
            <td><%= Genre.find_by(id: product.genre_id)&.name %></td>
            <td><%= product.sale_status_i18n %></td>
          </tr>
        <% end %>
      </tbody>
      <td><%= paginate @products %></td>
    </table>
  </div>
</div>
