<h1>商品一覧</h1>
<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= Genre.find_by(id: product.genre_id)&.name %></td>
        <td><%= Product.sale_statuses[product.sale_status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
