<div class="container mt-3">
  <h4>商品新規登録</h4>
  <%= form_with(model: @product, url: admin_items_new_path, local: true, html: {class: 'form'}) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row mx-auto">
      <div class="col-md-6 mx-auto">
        <div class="form-group row">
          <%= f.label :image, '商品画像', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :image, onchange: "checkFile(this)" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :name, "商品名", class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :explanation, '商品説明', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_area :explanation, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :genre_id, 'ジャンル', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
<%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: 'ジャンルを選択してください' }, { class: 'form-control' } %>
      　</div>
        </div>
        <div class="form-group row">
          <%= f.label :price, '税抜き価格', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.number_field :price, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :sale_status, '販売ステータス', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <% Product.sale_statuses.keys.each do |status| %>
  <div class="form-check form-check-inline">
    <%= f.radio_button :sale_status, status, class: 'form-check-input' %>
    <%= f.label :sale_status, status.humanize, class: 'form-check-label' %>
  </div>
<% end %>
          </div>
        </div>
<div class="form-group text-center">
  <%= f.submit '新規登録', class: 'btn btn-primary btn-success' %>
</div>
        <%end%>
</div>
</div>
</div>