<div class="row">
  <div class="col-md-3">
    <!-- ここにジャンルの部分テンプレート -->
    <%#= render ' ' %>
  </div>
  <div class="col-md-6">
    <%#= image_tag @product.image_url %>
  </div>
  <div class="col-md-3">
    <table>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><%= @items.name %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @items.description %></td>
        </tr>
        <tr>
          <th>Price:</th>
          <td><%= @items.price %></td>
        </tr>
      </tbody>
    </table>
    <p>
      <%= form_for @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :product_id, value: @item.id %>
        <%= f.label :quantity %>
        <%= f.number_field :quantity, min: 1, value: 1 %>
        <%= f.submit 'カートに入れる', class: 'btn btn-primary', formaction: cart_path %>
      <% end %>
    </p>
  </div>
</div>