<h1>商品詳細</h1>

<div class="product-details">
  <div class="product-image">
    <%= image_tag @product.image %>
  </div>
  <div class="product-info">
   <div>
  <h2><%= @product.name %></h2>
  <p><%= @product.explanation %></p>
  <% if @product.genre.present? %>
    <p>ジャンル: <%= @product.genre.name %></p>
  <% end %>
  <p>税込み価格: <%= number_to_currency(@product.with_tax_price) %></p>
  <p>販売ステータス: <%= Product.sale_statuses.key(@product.sale_status) %></p>
</div>
</div>

<%= link_to "編集する", admin_edit_items_path(@product) %>
