<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-md">
      <div class="product-image">
        <%= image_tag @product.image %>
      </div>
    </div>
    <div class="col-md">
      <div class="product-info text-lg">
        <table>
          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @product.explanation %></td>
          </tr>
          <% if @product.genre.present? %>
            <tr>
              <th>ジャンル</th>
              <td><%= @product.genre.name %></td>
            </tr>
          <% end %>
          <tr>
            <th>税込み価格</th>
            <td><%= number_to_currency(@product.with_tax_price) %></td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td><%= Product.sale_statuses.key(@product.sale_status) %></td>
          </tr>
        </table>
        <%= link_to "編集する", admin_edit_items_path(@product) %>
      </div>
    </div>
  </div>
</div>
