<h3 class="bg-secondary-subtle">注文情報入力</h3>


  <%= form_with model: @order, url: confirm_path do |f| %>

    <h3>支払方法</h3>
    <div>
      <%= f.radio_button :payment_option, Order.payment_options.key(0), checked: true %>
      <%= f.label :payment_option_credit_card, Order.payment_options_i18n[:credit_card] %>
    </div>
    <div>
      <%= f.radio_button :payment_option, Order.payment_options.key(1) %>
      <%= f.label :payment_option_transfer, Order.payment_options_i18n[:transfer] %>
    </div>

    <h3>お届け先</h3>
    <!--自身の住所-->
    <div>
      <%= f.radio_button :select_address, 0, checked: true %>
      <%= f.label :select_address_1, "ご自身の住所" %>
      <p>
        <%= @customer.postal_code %>
        <%= @customer.address %>
      </p>
      <P>
        <%= @customer.last_name %>
        <%= @customer.first_name %>
      </P>
    </div>

    <!--登録済住所-->
    <div>
      <%= f.radio_button :select_address, 1 %>
      <%= f.label :select_address_2, "登録済住所から選択" %>
      <P>
        <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
      </P>
    </div>

    <!--新しい届け先-->
    <div>
      <%= f.radio_button :select_address, 2 %>
      <%= f.label :select_address_3, "新しいお届け先" %>
      <div>
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </div>
      <div>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
      <div>
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name, placeholder: "令和道子" %>
      </div>
    </div>

    <!--確認ボタン-->
    <div>
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>

  <% end %>

